.salasContainer {
  width: 90vw;
  max-width: 810px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.salasContainer .novaSala {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.salasContainer .novaSala button {
  width: 40%;
  border: 0;
  border-radius: 0.8rem;
  font: 500 3rem Archivo;
  padding: 2rem;
  cursor: pointer;
  font: 700 2.4rem Archivo;
  color: var(--color-button-text);
  background: var(--color-primary-darker);
  transition: all 0.3s;
}
.salasContainer .novaSala button:hover {
  filter: brightness(90%);
}
.salasContainer .selectSalas {
  width: 100%;
  margin-top: 1.4rem;
  display: flex;
  justify-content: space-between;
}

.salasContainer .selectSalas select {
  font: 400 2rem Archivo;
  border: 0;
  appearance: none;
  width: 45%;
  padding: 1.4rem;
  border-radius: 0.9rem;
}
.salasContainer .listOfSalas {
  margin-top: 4rem;
  width: 100%;
}
.salasContainer .listOfSalas ul {
  list-style: none;
  font: 600 3rem Poppins;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.salasContainer .listOfSalas ul li .salaContent {
  display: flex;

  justify-content: space-between;
  margin: 10px;
  align-items: center;
}
.salasContainer .listOfSalas ul li .salaContent header {
  width: 30%;
}
.salasContainer .listOfSalas ul li .salaContent .inputButtongrupo {
  display: flex;
  justify-content: flex-end;
  width: 60%;
}
.salasContainer .listOfSalas ul li .salaContent .inputButtongrupo button {
  display: flex;
  justify-content: center;
  align-items: center;
}
.salasContainer .listOfSalas ul li .salaContent button + button {
  margin-left: 1rem;
}
.salasContainer .listOfSalas ul li .salaContent button {
  width: 40%;
  border: 0;
  border-radius: 0.8rem;
  font: 500 3rem Archivo;
  padding: 2rem;
  cursor: pointer;

  font: 700 2.4rem Archivo;
  color: var(--color-button-text);
  background: var(--color-primary-darker);
  transition: all 0.3s;
}
.salasContainer .listOfSalas ul li .salaContent button:hover {
  filter: brightness(85%);
}
.salasContainer .listOfSalas ul li .salaContent .danger {
  background: var(--rich-red);
}
