.procedimentosContainer {
  width: 90vw;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.procedimentosContainer .newProcedimento {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.procedimentosContainer .newProcedimento button {
  width: 40%;
  border: 0;
  border-radius: 0.8rem;
  font: 500 3rem Archivo;
  padding: 2rem;
  cursor: pointer;
  font: 700 2.4rem Archivo;
  color: var(--color-button-text);
  background: var(--color-primary-darker);
  transition: all 0.3s;
}

.procedimentosContainer .newProcedimento button:hover {
  filter: brightness(90%);
}
.procedimentosContainer .selectSetor {
  margin-top: 2rem;
  width: 100%;
}
.procedimentosContainer .selectSetor select {
  font: 400 2rem Archivo;
  border: 0;
  appearance: none;
  width: 45%;
  padding: 1.4rem;
  border-radius: 0.9rem;
}
.procedimentosContainer .listProcedimento {
  margin-top: 4rem;
  width: 100%;
}
.procedimentosContainer .listProcedimento ul {
  display: flex;

  background: #fff;
  list-style: none;
  height: 60vh;
  border-radius: 0.9rem;
  font: 500 1.2rem Poppins;
  overflow: hidden;
  overflow-y: scroll;
}
.procedimentosContainer .listProcedimento ul::-webkit-scrollbar {
  display: none;
}

.procedimentosContainer .listProcedimento .procedimentoContent {
  width: 100%;
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  padding: 1rem;
}
.procedimentosContainer .listProcedimento .procedimentoContent h2 {
  align-self: center;
  margin-left: 2rem;
}
.procedimentosContainer .listProcedimento .procedimentoContent .label {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.procedimentosContainer .listProcedimento .procedimentoContent .label input {
  cursor: pointer;
  margin: 0 2rem;
}
.procedimentosContainer .listProcedimento .procedimentoContent button {
  width: 100%;
  border: 0;
  border-radius: 0.8rem;
  font: 500 3rem Archivo;
  cursor: pointer;
  font: 700 2.4rem Archivo;
  color: var(--color-button-text);
  background: var(--rich-red);
}

@media (min-width: 700px) {
  .procedimentosContainer {
    max-width: 1200px;
  }
  .procedimentosContainer .listProcedimento ul {
    font-size: 15px;
  }
}
