.relatorioContainer {
  width: 90vw;
  max-width: 810px;
  height: 100vh;
  margin: 0 auto;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 500px;
  /* //  grid-template-rows: repeat(2, 3fr); */
  gap: 30px;
  margin-top: 10px;
}
.relatorioContainer .btnGroup {
  display: flex;
  justify-content: space-between;
}
.relatorioContainer .btnGroup button {
  width: 40%;
}
.relatorioContainer .chart {
  display: flex;
  width: 100%;
  height: 400px;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font: 500 2rem Archivo;
  box-shadow: 2px 5px 17px rgba(0, 0, 0, 0.77);
}

.relatorioContainer .chart strong {
  margin: 1.2rem 0;
}
