.setContainer {
  width: 90vw;
  max-width: 700px;
  margin: 0 auto;
}
.setContainer .newSetor {
  margin-top: 4rem;
  width: 100%;
  border: 0;
  border-radius: 0.8rem;
  font: 500 3rem Archivo;
  padding: 2rem;
  cursor: pointer;
  font: 700 2.4rem Archivo;
  color: var(--color-button-text);
  background: var(--color-primary-darker);
  transition: all 0.3s;
}

.setContainer ul {
  margin-top: 2rem;
}
.setContainer ul li {
  list-style: none;
  width: 100%;
  display: flex;
  font: 600 3rem Archivo;
}
.setContainer ul .content {
  display: grid;
  grid-template-rows: 40px;
  align-items: center;
  gap: 20px;
  width: 100%;
}
.setContainer ul .content strong {
  font: 500 2.8rem Archivo;
}
.setContainer ul .content h5 {
  font: 600 5rem Archivo;
  color: red;
}
.setContainer ul .content button {
  border: 0;
  border-radius: 0.8rem;
  padding: 1rem;
  cursor: pointer;
  font: 500 2.4rem Archivo;
  color: var(--color-button-text);
  background: var(--rich-blue);
  transition: all 0.3s;
}
.setContainer ul .content .danger {
  background: var(--rich-red);
}
.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
}
@media (min-width: 700px) {
  .setContainer ul .content {
    grid-template-columns: 2fr 2fr 1fr 1fr;
  }
  .setContainer ul .content h5 {
    font-size: 16px;
  }
}
@media (max-width: 600px) {
  .setContainer ul .content h5 {
    font-size: 1.6rem;
  }
}
